# EmailJS Configurations (Get these from your EmailJS dashboard)
# Make sure to create a copy of this file named '.env' and put your actual keys there.
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_template_id_here
VITE_EMAILJS_PUBLIC_KEY=your_public_key_here

# Profile Info (Optional - leaves default values if not defined)
VITE_PROFILE_PHONE=+91 7709328550
VITE_PROFILE_EMAIL=surajdkarande6396@gmail.com
VITE_PROFILE_GITHUB=https://github.com/SurajKarande01
VITE_PROFILE_LINKEDIN=https://www.linkedin.com/in/surajk0001/
VITE_PROFILE_RESUME_URL=/Resume_Suraj_Karande.pdf
